.card {
    width: 300px;
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.card h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 10px;
}
  
.card p {
    font-size: 16px;
    color: #666;
    margin: 0;
    padding: 10px;
}

.cards_programs1 {
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: flex-start;
}

.cards_programs2 {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 80px;
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: flex-start;
}