
.container_login {
    display: flex;
}
  
.half {
    flex: 1;
    height: 85vh;
    position: relative;
}
  
.half:first-child {
    background: #fff;
    flex: 0.6;
}
  
.half:last-child {
    background: #fff;
    box-shadow: -10px 0 20px -5px rgba(0, 0, 0, 0.1);
    padding: 115px;
}

.plog1 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat';
}

.forms {
    font-family: 'Montserrat';
    margin-top: 25px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: flex-start;
}

.input-container {
    margin-bottom: 20px;
}
  
.input-container input[type=email] {
    border: 1px solid #ccc;
    padding: 10px;
    border-left: 4px solid yellow;
    font-weight: 300;
}
  
.input-container input[type=password] {
    border:1px solid #ccc;
    padding:10px;
    border-left: 4px solid yellow;
    font-weight: 300;
}


.input-container.error input[type=email],
.input-container.error input[type=password] {
    border-left: 4px solid red;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 12px;
}


.plog3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
}

.google-btn {
    margin-top: 25px;
    width: 205px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
    font-weight: 400;
}
  
.google-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(95%);
    transition: filter 0.3s ease;
}

.checkbox1{
    margin-top: 80px;
    margin-left: 5px;
}

.check_box1 {
    display: none;
}

.check_box1 + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
}

.check_box1 + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 23px;
    height: 23px;
    border: 2px solid black;
    background: white;
}

.check_box1:checked + label:before {
    background: black;
}

.check_box1 + label:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 0px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}

.check_box1:checked + label:after {
    display: block;
}

.btns_log {
    color: #000;
    font-family: 'Montserrat';
    margin-top: 25px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: flex-start;
}


.enter{
    border-radius: 3px;
    background-color: yellow;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.t_enter{
    color: #000;
    font-size: 15px;
}

.enter:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

.registration {
    border-radius: 3px;
    background-color: #fff;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.t_registration{
    color: #000;
    font-size: 15px;
}

.registration:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

@media (max-width: 850px) {
    .plog1 {
        font-size: 20px !important;
    }
    .plog3 {
        font-size: 16px !important;
    }
    .input-container input[type=email] {
        padding: 8px !important;
    }
    .input-container input[type=password] {
        padding: 8px !important;
    }
    .input-container input[type=username] {
        padding: 8px !important;
        max-width: 205px
    }
    .half:last-child {
        padding-top: 130px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .google-btn {
        margin-top: 25px;
        width: 190px !important;
        padding: 9px !important;
    }
    .enter{
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .registration {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .t_enter{
        font-size: 14px;
    }
    .t_registration{
        font-size: 14px;
    }
    .check_box1 + label:before {
        width: 21px !important;
        height: 21px !important;
    }
    
    .check_box1 + label:after {
        left: 8px;
        top: 0px;
        width: 7px;
        height: 14px;
    }
    .btns_log {
        margin-top: 25px;
        column-gap: 25px;
        justify-content: flex-start;
    }
    .remember-me1{
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .plog1 {
        font-size: 18px !important;
    }
    .plog3 {
        font-size: 14px !important;
    }
    .input-container input[type=email] {
        padding: 7px !important;
        font-size: 14px !important;
    }
    .input-container input[type=password] {
        padding: 7px !important;
        font-size: 14px !important;
    }
    .input-container input[type=username] {
        padding: 7px !important;
        font-size: 14px !important;
        max-width: 180px
    }
    .half:last-child {
        padding-left: 20px !important;
        padding-right: 5px !important;
    }
    .google-btn {
        margin-top: 25px;
        width: 170px !important;
        padding: 8px !important;
        font-size: 14px;
    }
    .enter{
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .registration {
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .t_enter{
        font-size: 12px;
    }
    .t_registration{
        font-size: 12px;
    }
    .check_box1 + label:before {
        width: 19px !important;
        height: 19px !important;
    }
    
    .check_box1 + label:after {
        left: 7px;
        top: 0px;
        bottom: 5px !important;
        width: 6px;
        height: 12px;
    }
    .btns_log {
        margin-top: 25px;
        column-gap: 20px;
        justify-content: flex-start;
    }
    .remember-me1{
        font-size: 13px;
    }

}

@media (max-width: 450px) {
    .plog1 {
        font-size: 16px !important;
    }
    .plog3 {
        font-size: 12px !important;
    }
    .input-container input[type=email] {
        padding: 6px !important;
        font-size: 12px !important;
    }
    .input-container input[type=password] {
        padding: 6px !important;
        font-size: 12px !important;
    }
    .input-container input[type=username] {
        padding: 6px !important;
        font-size: 12px !important;
        max-width: 160px;
    }
    .half:last-child {
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
    .google-btn {
        margin-top: 25px;
        width: 150px !important;
        padding: 8px !important;
        font-size: 12px;
    }
    .enter{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .registration {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .t_enter{
        font-size: 12px !important;
    }
    .t_registration{
        font-size: 12px !important;
    }
    .check_box1 + label:before {
        width: 15px !important;
        height: 15px !important;
    }
    
    .check_box1 + label:after {
        left: 6px;
        top: 0px;
        bottom: 5px !important;
        width: 5px;
        height: 10px;
    }
    .btns_log {
        margin-top: 25px;
        column-gap: 20px;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    .remember-me1{
        font-size: 11px;
    }
    .forms {
        column-gap: 15px !important;
    }
    .half {
        height: 85vh !important;
    }
}