.container_office {
    display: flex;
}
  
.half_office {
    flex: 1;
    position: relative;
}
  
.half_office:first-child {
    overflow-y: scroll; /* Дозволяє прокрутку */
    background: #fff;
    flex: 0.8;
    height: 300vh;
}
  
.half_office:last-child {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: -10px 0 20px -5px rgba(0, 0, 0, 0.1);
    flex: 0.2;
}


.navigation-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 67px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links li {
    width: 250px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.modal-content {
    border-radius: 6px;
    position: fixed;
    top: 60px;
    right: 0;
    width: 252px;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.937);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 5px;
    animation: fadeIn 0.3s ease-out;
}

.modal-button {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    width: 252px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #eff7127d;
}


.nav_btn {
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 24px;
    transition: background-color 0.3s ease, filter 0.3s ease;;
}

.nav_btn:hover {
    background-color: #eff712c8;
}

.nav_btn:active {
    filter: brightness(70%);
}


.text_btn_nav{
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.hello {
    padding: 80px;
}

.t_programs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 240px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
}