.step {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
  
.step::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 13px;
    height: 20px;
    width: 3px;
    background-color: #F0F712;
}
  
.step:last-child::after {
    display: none;
}
  
.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid  #F0F712;
    margin-left: 10px;
}

.circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid  #ddd;
    margin-left: 10px;
}

.step_text1 {
    font-weight: 600;
    font-family: 'Montserrat';
}

.step_text2 {
    font-weight: 300;
    font-family: 'Montserrat';
}


.divstep {
    margin-top: 200px;
    margin-right: 40px;
}


.profile-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background: yellow;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    border: 3px solid white;
}

.camera-icon {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.container_registration {
    display: flex;
}
  
.half {
    flex: 1;
    height: 85vh;
    position: relative;
}
  
.half:first-child {
    background: #fff;
    flex: 0.4;
}

.half:last-child {
    background: #fff;
    box-shadow: -20px 0 20px -5px rgba(0, 0, 0, 0.1);
    padding: 115px;
    flex: 0.6;
}

.plog1 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat';
}

.forms_r {
    font-family: 'Montserrat';
    margin-top: 25px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: flex-start;
}

.input-container {
    margin-bottom: 20px;
}
  
.input-container input[type=email] {
    border: 1px solid #ccc;
    padding: 10px;
    border-left: 4px solid yellow;
    font-weight: 300;
}
  
.input-container input[type=password] {
    border:1px solid #ccc;
    padding:10px;
    border-left: 4px solid yellow;
    font-weight: 300;
}

.input-container input[type=username] {
    width: 210px;
    border:1px solid #ccc;
    padding:10px;
    border-left: 4px solid yellow;
    font-weight: 300;
}

.input-container.error input[type=email],
.input-container.error input[type=password],
.input-container.error input[type=username] {
    border-left: 4px solid red;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 12px;
}

.error-message1 {
    margin-top: 10px;
    color: red;
    font-size: 12px;
    font-family: 'Montserrat';
}


.plog2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat';
}

.google-btn {
    margin-top: 25px;
    width: 205px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
    font-weight: 400;
}
  
.google-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(95%);
    transition: filter 0.3s ease;
}


.btns_log1 {
    color: #000;
    font-family: 'Montserrat';
    margin-top: 56px;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: flex-start;
}


.next2{
    cursor: pointer;
    border-radius: 3px;
    background-color: yellow;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.t_enter{
    color: #000;
    font-size: 15px;
}

.next2:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

.back {
    border-radius: 3px;
    background-color: #fff;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.t_registration{
    color: #000;
    font-size: 15px;
}

.back:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
    filter: brightness(90%);
    transition: filter 0.3s ease;
}


@media (max-width: 1350px) {
    .profile-container {
        width: 90px !important;
        height: 90px !important;
        margin-left: 50px !important;
        margin-bottom: 20px;
    }
    .divstep {
        display: none;
    }
    .half {
        height: 90vh;
    }
}

@media (max-width: 850px) {
    .profile-container {
        width: 75px !important;
        height: 75px !important;
        margin-left: 10px !important; 
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .profile-container {
        width: 60px !important;
        height: 60px !important;
        margin-left: 0px !important; 
        margin-bottom: 20px;
    }
    .forms_r {
        column-gap: 15px;
    }
    .input-container input[type=email] {
        max-width: 165px;
    }
      
    .input-container input[type=password] {
        max-width: 165px;
    }
    
    .input-container input[type=username] {
        max-width: 165px;
    }
    .plog2{
        font-size: 14px;
    }
    .error-message {
        margin-top: 8px;
        font-size: 9px;
    }
    
    .error-message1 {
        margin-top: 8px;
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .profile-container {
        width: 50px !important;
        height: 50px !important;
        margin-left: 0px !important; 
        margin-bottom: 20px;
    }
    .forms_r {
        column-gap: 10px;
    }
    .input-container input[type=email] {
        max-width: 135px;
    }
      
    .input-container input[type=password] {
        max-width: 135px;
    }
    
    .input-container input[type=username] {
        max-width: 135px;
    }
    .plog2{
        font-size: 14px;
    }
    .next2{
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .t_enter{
        color: #000;
        font-size: 12px;
    }
    .back {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .t_registration{
        font-size: 12px;
    }
    .camera-icon {
        font-size: 14px;
    }
    .error-message {
        margin-top: 8px;
        font-size: 8px;
    }
    
    .error-message1 {
        margin-top: 8px;
        font-size: 8px;
    }
}

