.conteiner{
    background-color: black;
}

.start_line{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    column-gap: 120px;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    max-height: auto;
}

.textblock li{
    margin-bottom: 10px;
}

.li_one{
    font-size: 18px;
    font-weight: 100;
}

.li_two{
    font-size: 35px;
    font-weight: 900;
    max-width: 480px;
}

.li_p{
    color: #000;
}


a.btn_a{
    color: #000;
    background-color: #F0F712;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 6px;
    transition: filter 0.2s ease;
}

a.btn_a:active{
    filter: brightness(70%);
}

@media (max-width: 1350px) {
    .start_line{
        column-gap: 60px;
    }
    .start_photo{
        max-width: 280px;
    }
    .li_one{
        font-size: 16px;
    }
    .li_two{
        font-size: 30px;
        max-width: 400px;
    }
    a.btn_a{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 850px) {
    .start_line{
        column-gap: 50px;
    }
    .start_photo{
        max-width: 230px;
    }
    .li_one{
        font-size: 14px;
    }
    .li_two{
        font-size: 25px;
        max-width: 350px;
    }
    a.btn_a{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 40px;
        padding-right: 40px;
    }
    a.btn_a{
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media (max-width: 650px) {
    .start_line{
        column-gap: 25px;
    }
    .start_photo{
        max-width: 150px;
    }
    .li_one{
        font-size: 12px;
    }
    .li_two{
        font-size: 18px;
        max-width: 260px;
    }
    a.btn_a{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 30px;
        padding-right: 30px;
    }
    a.btn_a{
        font-size: 13px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (max-width: 450px) {
    .start_line{
        column-gap: 20px;
    }
    .start_photo{
        max-width: 120px;
    }
    .li_one{
        font-size: 10px;
    }
    .li_two{
        font-size: 16px;
        max-width: 220px;
    }
    a.btn_a{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}